@mixin e($names...) {
  @each $name in $names {
    &__#{$name} {
      @content;
    }
  }
}

@mixin m($names...) {
  @each $name in $names {
    &--#{$name} {
      @content;
    }
  }
}

@mixin clearfix() {
  zoom:1;
  &:after {
    content:"";
    clear:both;
    display:block;
  }
}
