.input-group {
  $height:$control-height;
  $padding:8px 14px;
  $font-size:16px;
  $border-width:1px;
  $border-color:$color-text-primary;

  display:table;
  box-sizing:border-box;
  width:100%;
  border-collapse:separate;
  font-size:$font-size;

  @include m(search) {
    max-width:600px;
    margin-right:auto;
    margin-left:auto;
  }

  @include e(control) {
    display:table-cell;
    float:left;
    box-sizing:border-box;
    width:100%;
    height:$height;
    margin:0;
    padding:$padding;
    font-family:inherit;
    font-size:$font-size;
    line-height:1.5;
    border:$border-width solid $border-color;
    border-radius:0;

    appearance:none;
    & + .input-group__addon {
      border-width:$border-width $border-width $border-width 0;
    }
  }

  @include e(addon, btn) {
    display:table-cell;
    box-sizing:border-box;
    width:1%;
    height:$height;
    padding:$padding;
    line-height:1;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    border-width:$border-width 0 $border-width $border-width;
    border-style:solid;
    border-color:$border-color;
  }

  @include e(btn) {
    @include m(search) {
      width:70px;
      .btn {
        width:100%;
      }
    }
    padding:0;
    border:0;
  }
}