.repository {
  @include clearfix();
  display:inline-block;
  width:50%;
  margin:1rem 0;
  vertical-align:top;

  @include e(inner) {
    position:relative;
    margin:0 1rem;
    padding:1rem;
    border-radius:3px;
    background:#333842;
    box-shadow:0 2px 4px rgba(0, 0, 0, .2);
  }

  @include e(avatar) {
    display:inline-block;
    float:left;
    overflow:hidden;
    width:60px;
    height:60px;
    margin-right:1rem;
    border-radius:100%;
  }

  @include e(body) {
    overflow:hidden;
  }

  @include e(title) {
    margin:0 0 1rem 0;
    font-size:1.4rem;
    line-height:1.2;
  }

  @include e(description) {
    margin:1rem 0;
    font-size:.8rem;
    line-height:1.6;
  }

  @include e(info) {
    margin:0;
    padding:0;
    list-style:none;
    @include e(item) {
      display:inline-block;
      margin-right:1rem;
      font-size:.8rem;
    }
  }

  @include e(date) {
    position:absolute;
    top:1.4rem;
    right:1rem;
    margin:0;
    color:darken($color-text-primary, 15%);
    font-size:.8rem;
    letter-spacing:.05em;
  }

  @include m(sm) {
    @include e(link) {
      display:table;
      width:100%;
      padding:1rem;
      table-layout:fixed;
    }
    @include e(avatar, title, meta) {
      display:table-cell;
      vertical-align:middle;
      margin:0;
    }
    @include e(avatar) {
      overflow:hidden;
      width:30px;
      height:30px;
      border-radius:100%;
      img {
        max-width:none;
        width:100%;
        height:auto;
        vertical-align:top;
      }
    }
    @include e(title) {
      width:80%;
      padding:0 0 0 .5rem;
    }
    @include e(meta) {
      font-size:.8rem;
      color:#fff;
      text-align:right;
    }
  }
}